/*Colors palette:
https://coolors.co/93032e-c69f89-caa791-d9fff8-a6a15e-84894a-034c3c*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #93032e;
}

#choropleth-map.graph-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px 20px 15px 20px;
  background-color: #c69f89;
}
#choropleth-map.graph-container > header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
#choropleth-map.graph-container > #graph {
  width: 960px;
  height: 600px;
}
#choropleth-map.graph-container > #graph > .state-line {
  fill: none;
  stroke: #caa791;
  stroke-linejoin: round;
}
#choropleth-map.graph-container > #graph .nation-line {
  fill: none;
  stroke: #caa791;
  stroke-linejoin: round;
}
#choropleth-map.graph-container > footer {
  margin-top: 30px;
  margin-left: auto;
}
#choropleth-map.graph-container > #tooltip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 5px;
  background-color: #d9fff8;
  border: 2px solid #034c3c;
  border-radius: 5px;
  pointer-events: none;
}
#choropleth-map.graph-container > #tooltip > p {
  font-size: 12px;
}
